@import "stuff/reset";
@import "stuff/variables";

@function color($color, $alpha: 1) {
  @if $alpha != 1 {
    @return hsl(var($color) / $alpha);
  } @else {
    @return hsl(var($color));
  }
}

* {
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.head {
  display: flex;
  font-weight: 100;
  line-height: 1.6;
  min-height: 80vh;
  position: relative;

  h1 { font-size: 3rem; }
  h2 { font-size: 2rem; }
  h3 { font-size: 1.5rem; }

  h1, h2, h3, h4, h5, h6 {
    color: color(--head-color);
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 1.3rem;
  }

  &-content {
    align-items: center;
    backdrop-filter: var(--head-backdrop-filter);
    background: color(--background-color, var(--head-color-opacity));
    clip-path: var(--clip-path);
    color: color(--text-color);
    display: flex;
    height: auto;
    justify-content: center;
    margin: var(--head-position);
    padding: var(--head-padding);
    width: var(--head-width);
  }

  &-background {
    background-position: 50% var(--background-position);
    background-size: cover;
    bottom: var(--bg-pos-bottom);
    left: var(--bg-pos-left);
    position: absolute;
    right: var(--bg-pos-right);
    top: var(--bg-pos-top);

    &::after {
      background: color(--background-overlay-color);
      bottom: 0;
      content: "";
      display: var(--display-overlay);
      left: 0;
      mix-blend-mode: var(--background-mix-blend-mode);
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.tags {
  color: color(--text-color, 0.8);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1.5rem 0;

  .tag {
    backdrop-filter: blur(0.5rem);
    background: color(--head-tag-background);
    border-radius: 10rem;
    padding: 0.4rem 1rem;
  }
}

.tools {
  display: flex;
  font-size: 0.8rem;
  gap: 1rem;
  justify-content: space-between;
  padding: 2rem;
}

.tool {
  min-width: 20rem;

  &-section {
    align-items: center;
    display: flex;
    gap: 1rem;
    height: 1.4rem;
    margin: 0 0 0.5rem;
  }

  .current {
    margin: 0 0 0.5rem;
  }

  &-label {
    border-bottom: 1px solid #f0f0f0;
    margin: 0 0 1rem;
    padding: 0 0 1rem;
  }

  .buttons {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
  }
}

button {
  background: rgb(60, 58, 191);
  border: none;
  border-radius: 0.2rem;
  color: white;
  cursor: pointer;
  padding: 0.5rem;

  &:disabled {
    background: rgb(202, 202, 205);
    cursor: default;
  }

  &.active {
    background: rgb(66, 63, 230);
  }
}

.presets {
  border-top: 1px solid #f0f0f0;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: 1rem;

  &-section {
    display: flex;
    gap: 0.5rem;
  }
  strong {
    align-items: center;
    display: flex;
  }
}
