body {
  font-family: sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  --bg-pos-left: 0;
  --bg-pos-right: 0;
  --bg-pos-top: 0;
  --bg-pos-bottom: 0;
  --head-color: 355 50% 45%;
  --background-position: 50%;
  --background-mix-blend-mode: normal;
  --background-overlay-color: transparent;
  --display-overlay: none;
}

.left-slanted {
  --head-color-opacity: 0.9;
  --head-backdrop-filter: blur(50rem);
  --head-tag-background: 0 0% 0% / 0.1;
  --head-width: 50%;
  --head-padding: 2rem calc(8.1vw + 2rem) 2rem 2rem;
  --head-position: 0 0 0 0;
  --bg-pos-left: calc(var(--head-width) - 8.1%);
  --clip-path: polygon(0% 0%, 100% 0%, 91.9% 100%, 0% 100%);
}

.right-slanted {
  --head-color-opacity: 1;
  --head-backdrop-filter: none;
  --head-tag-background: 0 0% 0% / 0.05;
  --head-width: 50%;
  --head-padding: 2rem 2rem 2rem 7rem;
  --head-position: 0 0 0 calc(100% - var(--head-width) + 2rem);
  --bg-pos-right: calc(var(--head-width) - 15%);
  --clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 15% 100%);
}

.left-floating {
  --head-color-opacity: 0.35;
  --head-backdrop-filter: blur(5rem);
  --head-tag-background: 0 0% 100% / 0.15;
  --head-width: 30rem;
  --head-padding: 2rem;
  --head-position: 2rem calc(100% - var(--head-width) - 2rem) 2rem 2rem;
  --background-position: center;
  --clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.right-floating {
  --head-color-opacity: 0.35;
  --head-backdrop-filter: blur(5rem);
  --head-tag-background: 0 0% 100% / 0.15;
  --head-width: 30rem;
  --head-padding: 2rem;
  --head-position: 2rem 2rem 2rem calc(100% - var(--head-width) - 2rem);
  --background-position: center;
  --clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

* {
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.head {
  display: flex;
  font-weight: 100;
  line-height: 1.6;
  min-height: 80vh;
  position: relative;
}
.head h1 {
  font-size: 3rem;
}
.head h2 {
  font-size: 2rem;
}
.head h3 {
  font-size: 1.5rem;
}
.head h1, .head h2, .head h3, .head h4, .head h5, .head h6 {
  color: hsl(var(--head-color));
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 1.3rem;
}
.head-content {
  align-items: center;
  backdrop-filter: var(--head-backdrop-filter);
  background: hsl(var(--background-color)/var(--head-color-opacity));
  clip-path: var(--clip-path);
  color: hsl(var(--text-color));
  display: flex;
  height: auto;
  justify-content: center;
  margin: var(--head-position);
  padding: var(--head-padding);
  width: var(--head-width);
}
.head-background {
  background-position: 50% var(--background-position);
  background-size: cover;
  bottom: var(--bg-pos-bottom);
  left: var(--bg-pos-left);
  position: absolute;
  right: var(--bg-pos-right);
  top: var(--bg-pos-top);
}
.head-background::after {
  background: hsl(var(--background-overlay-color));
  bottom: 0;
  content: "";
  display: var(--display-overlay);
  left: 0;
  mix-blend-mode: var(--background-mix-blend-mode);
  position: absolute;
  right: 0;
  top: 0;
}

.tags {
  color: hsl(var(--text-color)/0.8);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1.5rem 0;
}
.tags .tag {
  backdrop-filter: blur(0.5rem);
  background: hsl(var(--head-tag-background));
  border-radius: 10rem;
  padding: 0.4rem 1rem;
}

.tools {
  display: flex;
  font-size: 0.8rem;
  gap: 1rem;
  justify-content: space-between;
  padding: 2rem;
}

.tool {
  min-width: 20rem;
}
.tool button {
  background: rgb(60, 58, 191);
  border: none;
  border-radius: 0.2rem;
  color: white;
  padding: 0.5rem;
}
.tool-section {
  align-items: center;
  display: flex;
  gap: 1rem;
  height: 1.4rem;
  margin: 0 0 0.5rem;
}
.tool .current {
  margin: 0 0 0.5rem;
}
.tool-label {
  border-bottom: 1px solid #f0f0f0;
  margin: 0 0 1rem;
  padding: 0 0 1rem;
}
.tool .buttons {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}

/*# sourceMappingURL=main.css.map */
